# syntax: glob
*.suo
*.user
StyleCop.Cache

# vim
**/.swn
**/.swo
**/.swp

# syntax: regexp
**/.vs/*
**/bin/*
**/obj/*
**/TestResults/*
**/Debug/*
**/Release/*
packages/*
Installer/*.nupkg
Installer/lib/*
Installer/temp/*
